.sss {
    background: silver;
    width: 600px;
    height: 600px;
    padding: 20px;
    border-radius: 7px;
    border: 1px double black;
}
.qqq {
    background: silver;
    height: 250px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: darkred;
}
.www1 {
    width: 294px;
    height: 250px;
    background: rebeccapurple;
    justify-content: center;
    border-radius: 7px;
}
.eee {
    margin-top: 1.5%;
    background: rebeccapurple;
    height: 200px;
    text-align: center;
    color: chartreuse;
    border-radius: 7px;
}
.rrr {
    background: silver;
    height: 135px;
    display: flex;
    margin-top: 1.5%;
    justify-content: space-between;
    text-align: center;
    color: #806400;
}
.rrr1 {
    width: 190px;
    height: 120px;
    background: rebeccapurple;
    justify-content: center;
    border-radius: 7px;
}


