@media screen and (max-width: 480px ) {
    body {
        background-color: #b6fc59;
    }
    .header_top__menu, .first_screen__right, .second_screen__left, .fifth_screen, .sixth_screen__right, .image_two {
        display: none;
    }
    .wrapper, .first_screen {
        padding: 0 20px;
    }
    .first_screen__left h1 {
        font-size: 60px;
        line-height: 70px;
    }
    .first_screen_button {
        position: initial;
        margin: 25px auto 0;
        max-width: 160px;
    }
    .first_screen_button h4 {
        font-size: 14px;
    }
    .second_screen__right {
        margin: 70px 0 0 0;
        padding: 0 20px;
    }
    .button_mobile {
        display: flex;
    }
    .third_two {
        display: block;
        position: relative;
        margin-top: -80px;
    }
    .third_one {
        padding: 20px;
        margin: 0 0 40px 0;
    }
    .third_one h2 {
        padding-top: 40px;
    }
    .third_two__one, .third_two__two, .third_two__three {
        padding: 0 20px;
        margin: 0 0 70px 0;
    }
    .third_screen__button {
        position: initial;
        margin: 45px 45px 45px 155px;
        max-width: 120px;
        max-height: 70px;
    }
    .fourth_one {
        padding: 20px;
        margin-top: 30px;
    }
    .fourth_one h2 {
        margin-top: 70px;
    }
    .sixth_screen__left {
        padding: 0 20px;
        margin: 0 0 70px 0;
    }
    .sixth_screen__button {
        position: initial;
        margin: 80px 45px 45px 140px;
        max-width: 120px;
        max-height: 70px;
    }
    .seventh_screen {
        margin-top: 20px;
    }
    .seventh_in__screen {
        display: block;
        padding: 0 20px;
        margin: 0 0 70px 0;
    }
    .seventh_screen__left h2{
        margin-top: 0;
        margin-left: 0;
    }
    .seventh_screen__left p {
        margin-top: 0;
        margin-left: 0;
    }
    .seventh_screen__button {
        margin-left: 135px;
        margin-top: 79px;
    }
    .second_h, .third_h, .forth_h, .fifth_h {
        margin-left: 5px;
    }
    .eight_screen__preend {
        margin-top: 30px;
    }
    .last_p {
        margin-left: 0;
    }
}
